*.npy
*.npz
*.pkl
*.png
*.pdf
*.zip
*.json
*.txt
generated/*
nn_models/*
data/*
.github/
.idea/
**/c_generated_code/
**/_l4c_generated/
**/__pycache__/
**/robots/z1_description/urdf/z1_randomized.urdf
.devcontainer/*