test_num: 10           # number of tests
n_steps: 800              # number of time steps in each test
cpu_num: 24

N: 45                     # horizon length --> 45 for z1 
back_hor: 45
dt: 5e-3                  # time step
alpha: 10.                # safety margin 

n_dofs: 7                 # number of controlled joints 
n_dof_safe_set: 5

cost_type: 'NLS'          # NLS (non-linear least squares) or EXT (external)

solver_mode: 'BALANCE'    # HPIPM mode, can be --> 'BALANCE', 'ROBUST', 'SPEED', 'SPEED_ABS'
nlp_max_iter: 1000
rti_iter: 1
qp_max_iter: 200
alpha_reduction: 0.3
alpha_min: 1e-2
levenberg_marquardt: 5e-1  # 1e-3 in general, 1e-1 for z1 guess, 1e0 for z1 mpc
ext_flag: '-O2'

ipopt_opts:
  'ipopt.print_level': 0
  'print_time': 0
  'ipopt.tol': 0.000001
  'ipopt.constr_viol_tol': 0.000001
  'ipopt.compl_inf_tol': 0.000001
  'ipopt.hessian_approximation': 'limited-memory'
  'ipopt.max_iter': 500
  'ipopt.sb': 'yes'
        

Q_weight: 1e2                        # state cost
  # - [100, 0., 0.]
  # - [0., 100, 0.]
  # - [0., 0., 100]
R_weight: 5e-3                   # torque cost
  

tol_x: 5e-3               # state -4
tol_tau: 1e-6             # torque
tol_dyn: 1e-6             # dynamics
tol_obs: 1e-4             # obstacle tolerance -6
tol_safe_set: 1e-4        # neural network -6

eps: 1e-6                 # for numerical stability in NN function 
tol_conv: 1e-3            # convergence tolerance for the task
tol_cost: 1e-3            # Tolerance for the cost

q_dot_gain: 1e4
ws_t: 1e2
ws_r: 1e4

obs_flag: true           # activation of Cartesian constraints
obs_string: '_obs'
abort_flag: true         # activation of abort mechanism for receding MPC
use_net: true            # use the network safe set if true, otherwise analytic safe set

# network_path: 'nn_models/z1/4dof_gelu_dt_5_line_trackingms.pt'   # path to network file
#network_path: '../nn_models/z1/4dof_gelu_obs_track_line.pt'
# network_path: '../nn_models/z1/5dof_gelu_dt10ms_ALPHA_10.pt'
# network_path: '../nn_models/z1/5dof_gelu_dt10ms_ALPHA_12.pt'
network_path: '../nn_models/z1/5dof_gelu_dt10ms_ALPHA_12.pt'
network_size: [10, 256, 1]                       # input, hidden and output size
act_fun: 'gelu'

reg_term: 1e-6            # regularization term for anaytic safe set constraints 

frame_ee: 'fr3_hand_tcp' #  'gripperMover' #'fr3_hand_tcp' #
ee_position: [0.0, 0., 0.] # ee position in in frame_ee 
ee_ref: [0.7, 0.25, 0.13] 
#ee_ref: [0.7, 0.4, 0.12] 
#ee_ref: [0.7, 0.38, 0.10] 
ee_radius: 0.075

# Analytic set parameters
ddq_max: [0.1       , 1.        , 1.666, 2.333, 2.333, 2.333]
ddx_max: [0.133, 0.133, 0.133]

# Obstacles and capsules
obstacles:
  - name: 'floor'
    type: 'plane'
    dimensions: [2, 2, 1e-3]
    color: [0,0,0,1]
    position: [0.75,0,0]
    transform: 
      - [1,0,0,0]
      - [0,1,0,0]
      - [0,0,1,0]
      - [0,0,0,1]
    perpendicular_axis: 2   # 0 for x, 1 for y, 2 for z
    bounds: [0,1e6]   # bounds: z position of floor and ceil
    real_bound: 0     # 0 if lower, 1 if upper

  - name: 'ball'
    type: 'sphere-obs'
    radius: 0.12
    color: [0,1,0,1]
    position: [0.6,0.,0.12]
    transform: 
      - [1,0,0,0.6]
      - [0,1,0,0]
      - [0,0,1,0.12]
      - [0,0,0,1]
    bounds: [0,1e6]     # minimum and maximum distance from the sphere's surface. Minimum distance 0 means ball can be only touched lightly. 

  # - name: 'ball2'
  #   type: 'sphere-obs'
  #   radius: 0.05
  #   color: [0,1,1,1]
  #   position: [0.6,-0.2,0.12]
  #   transform:
  #   radius: 0.05
  #   color: [0,1,1,1]
  #   position: [0.6,-0.2,0.12]
  #   transform:
  #     - [1,0,0,0.6]
  #     - [0,1,0,-0.2]
  #     - [0,1,0,-0.2]
  #     - [0,0,1,0.12]
  #     - [0,0,0,1]
  #   bounds: [0,1e6] 
  #   bounds: [0,1e6] 

  # - name: 'ball3'
  #   type: 'sphere-obs'
  #   radius: 0.05
  #   color: [0,1,1,1]
  #   position: [0.6,0.2,0.12]
  #   transform:
  #     - [1,0,0,0.6]
  #     - [0,1,0,0.2]
  #     - [0,0,1,0.12]
  #     - [0,0,0,1]
  #   bounds: [0,1e6] 
  # - name: 'ball3'
  #   type: 'sphere-obs'
  #   radius: 0.05
  #   color: [0,1,1,1]
  #   position: [0.6,0.2,0.12]
  #   transform:
  #     - [1,0,0,0.6]
  #     - [0,1,0,0.2]
  #     - [0,0,1,0.12]
  #     - [0,0,0,1]
  #   bounds: [0,1e6] 

robot_capsules:
  # - name: 'arm'
  #   link_name: 'link02'
  #   link_axis: 0
  #   radius: 0.05
  #   length: 0.35
  #   spatial_offset: [0,0,0]
  #   rotation_offset: [0,0,0]
  #   color: [1,0,0,0.3]

  # - name: 'link1'
  #   link_name: 'fr3_link1'
  #   link_axis: 2
  #   radius: 0.07
  #   length: 0.27
  #   spatial_offset: [0,0,-0.25]
  #   rotation_offset: [0,0,0]
  #   color: [1,0,0,0.3]  

  - name: 'link2'
    link_name: 'fr3_link2'
    link_axis: 2
    radius: 0.06
    length: 0.18
    spatial_offset: [0,0,-0.08]
    rotation_offset: [0,0,0]
    color: [0,0,1,0.3]

  - name: 'link3'
    link_name: 'fr3_link3'
    link_axis: 2
    radius: 0.07
    length: 0.27
    spatial_offset: [0,0,-0.32]
    rotation_offset: [0,0,0]
    color: [1,0,0,0.3]  

  - name: 'link4'
    link_name: 'fr3_link4'
    link_axis: 2
    radius: 0.06
    length: 0.13
    spatial_offset: [0,0,-0.07]
    rotation_offset: [0,0,0]
    color: [0,0,1,0.3]

  - name: 'link5'
    link_name: 'fr3_link5'
    link_axis: 2
    radius: 0.07
    length: 0.3
    spatial_offset: [0,0,-0.32]
    rotation_offset: [-0.37,0,0]
    color: [1,0,0,0.3]

  - name: 'link6'
    link_name: 'fr3_link6'
    link_axis: 2
    radius: 0.06
    length: 0.13
    spatial_offset: [0,0,-0.1]
    rotation_offset: [0,0,0]
    color: [0,0,1,0.3]
  
  - name: 'link7'
    link_name: 'fr3_link7'
    link_axis: 2
    radius: 0.05
    length: 0.25
    spatial_offset: [0,0,-0.05]
    rotation_offset: [0,0,0]
    color: [1,0,0,0.3]

  - name: 'hand'
    link_name: 'fr3_hand_tcp'
    link_axis: 2
    radius: 0.05
    length: 0.15
    spatial_offset: [0.,0.075,-0.08]
    rotation_offset: [1.57,0,0]
    color: [0,0,1,0.3]

obstacles_capsules:
  # - name: 'fixed1'
  #   radius: 0.05
  #   point_A: [0.5,0.20,0]
  #   point_B: [0.5, 0.20, 0.25]
  #   color: [0, 1, 1, 1]

  # - name: 'fixed2'
  #   radius: 0.05
  #   point_A: [0.5, -0.20, 0.]
  #   point_B: [0.5, -0.20, 0.25]
  #   color: [0, 1, 1, 1]

  # - name: 'fixed3'
  #   radius: 0.05
  #   point_A: [0.5, -0.20, 0.25]
  #   point_B: [0.5, 0.20, 0.25]
  #   color: [0, 1, 1, 1]

spheres_robot:
  # - name: 'ee_sphere'
  #   link_name: 'fr3_hand_tcp'
  #   radius: 0.03 
  #   spatial_offset:  [0.0, 0., -0.015] 
  #   color: [0,0.5,0.5,0.3]

collision_pairs:
  # - ['arm','ee']
  #- ['ee','ball']
  # - ['ee', 'floor']
  # - ['forearm','floor']
  #- ['forearm', 'ball']
  # - ['ee','fixed1']
  # - ['ee','fixed2']
  # - ['ee','fixed3']
  # - ['forearm','fixed1']
  # - ['forearm','fixed2']
  # - ['forearm','fixed3']
  # - ['ee_sphere', 'floor']   
  # - ['ee_sphere', 'ball']
  # - ['ee','ball2']
  # - ['forearm','ball2']
  # - ['ee','ball3']
  # - ['forearm','ball3']
  - ['link7','link5']
  - ['hand','link5']
  - ['link5','link3']
  - ['link5','ball']
  - ['link5','floor']
  - ['link6','ball']
  - ['link6','floor']
  - ['hand','floor']
  - ['link7','floor']
  - ['hand','ball']
  - ['link7','ball']
  # - ['arm','floor']

track_traj: false
dim_shape_8: 0.27
offset_traj: [0.65, 0.08,0.1]
theta_rot_traj: [0,0,1.570]
vel_max_traj: 0.3
vel_const: true

n_steps_tracking: 5000
acc_time: 0.2    # percentage of time used to reach the maximum velocity tracking starting at rest

circle_rad: 0.13
circle_traj_vel: 0.0
circle_center_vel: 0.35
circle_offset_traj: [0.78,0.4,0.06]      # [0.77,0.4,0.09] 
noise_mass: 0.
noise_inertia: 0.
noise_cm: 0.

joint_bounds_margin: 0.
collision_margin: 0.
